block about-us
    .about-us
        .about-us__img
            img(src="img/index/about-us.png" alt="About-us")
        .about-us__text
            .about-us__title
                .about-us__title-one Почему наши клиенты
                .about-us__title-two выбирают TwoBlocks 
            .about-us__subtitle
                p Мы знаем и понимаем - как технология<br/>
                    |блокчейн может быть полезна для оптимизации<br> 
                    |бизнес-процессов. Мы мыслим практически<br> 
                    |и работаем на результат.
                p У вас есть проблема? У нас есть решение вашей<br> 
                    |проблемы, основанное на блокчейне, которое<br> 
                    |выведет ваш бизнес на новый уровень<br> 
                    |эффективности и прибыльности.
                p У нас за плечами реальные кейсы по внедрению<br> 
                    |технологий в бизнес-процессы, поэтому мы знаем,<br> 
                    |что вам нужно и как это осуществить! Именно наш<br> 
                    |практический опыт принципиально выделяет нас<br> 
                    |среди похожих инициатив блокчейн-индустрии.
            img(class="miniImg-1" src="img/index/about-us-1.png" alt="About-us")
            img(class="miniImg-2" src="img/index/about-us-2.png" alt="About-us")
            img(class="miniImg-3" src="img/index/about-us-3.png" alt="About-us")