block first-screen
    .first-screen(style="background-image: url(/img/index/first__screen.png);")
        .container.h-100
            .container__left-block
                .left-block__title
                    h1 Блокчейн-команда<br>для вашего Бизнеса
                .left-block__subtitle 
                    h2 TwoBlocks - это команда блокчейн разработчиков<br>
                        |для реального бизнеса. Мы занимаемся созданием<br>
                        |крипто-платформ, крипто-кошельков и других<br>
                        |профильных площадок на аутсорсе по запросам<br>
                        |реального бизнеса.
                .left-block__btn
                    button.button__first-screen(href="/") Заказать услуги
                .left-block__social-icon
                    a(href="/")
                        img(src="img/index/telegram.svg" alt="Telegram" width="30" height="25")
                    a(href="/")
                        img(src="img/index/git-hub.svg" alt="Git-hub" width="30" height="30")