block order-servises
    .order-servises
        .order-servises__text
            .text-order
                .text-order__title 
                    h3 Закажите наши услуги
                    img(class="order-servises__blob" src="img/index/order-servises__blob.svg")
                    img(class="order-servises__miniImg" src="img/index/about-us-1.png" alt="About-us")
                .text-order__subtitle
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit in semper at vitae amet consequat, etiam egestas duis. Cras euismod pellentesque id amet gravida orci posuere montes, orci
                button.text-order__button Заказать услуги 
        .order-servises__img
            img(src="img/index/order-servises__img.png" alt="Order-servises")