include project-slide

block project
    .project.container
        .project__title 
            h3 Наши проекты
        .project__box-slider
            +project-slider()
    .project__img_bottom
        img(src="img/index/about-us-2.png")