block technology-team
    .technology-team
        .technology-team__img
            img(src="img/index/technology-img.png" alt="technology")
        .technology-team__text.text-technology
            .text-technology__box
                .text-technology__title
                    p Команда TwoBlocks располагает самыми передовыми технологиями в области разрабтки IT - проектов
                    img(class="technology__miniImg-1" src="img/index/about-us-1.png")
                .text-technology__contayner
                    .text-technology__box-img-1
                        img(src="img/index/technology/java.png" alt="")
                        img(src="img/index/technology/angular.png" alt="")
                        img(src="img/index/technology/arrow-bot.png" alt="")
                        img(src="img/index/technology/big-cat.png" alt="")
                        img(src="img/index/technology/rust.png" alt="")
                        img(src="img/index/technology/flag.png" alt="")
                        img(src="img/index/technology/green-list.png" alt="")
                        img(src="img/index/technology/js.png" alt="java")
                        img(src="img/index/technology/kerrot.png" alt="")
                        img(src="img/index/technology/node.png" alt="")
                        img(src="img/index/technology/pyton.png" alt="")
                        img(src="img/index/technology/react.png" alt="")
                    .text-technology__box-img-2
                        img(src="img/index/technology/scala.png" alt="")
                        img(src="img/index/technology/php.png" alt="")
                        img(src="img/index/technology/cordowa.png" alt="")
                    img(class="technology__miniImg-2" src="img/index/about-us-2.png")
                    img(class="technology__miniImg-3" src="img/index/about-us-3.png")
                    
                
            