block footer
    footer.footer
        .container.footer__container
            .footer__copyright
                p © 2020 TwoBlocks LCC
                a(href="/")
                    img(src="img/index/telegram.svg" alt="Telegram" width="30" height="25")
                a(href="/")
                    img(src="img/index/git-hub.svg" alt="Git-hub" width="30" height="30")
            .footer__privat
                    a(href="/") Cookie Policy
                    a(href="/") Privacy Policy
               


