extends common/layout.pug

block content-page
    include includes/index/first-screen
    include includes/index/about-us 
    include includes/index/services 
    include includes/index/project
    include includes/index/team
    include includes/index/order-servises
    include includes/index/technology-team
                



