//Color
$textBlue: #4E20A0;
$textWhite: white;
$textDkBlue: #2C5072;
$textLtBlue: #C3F0F9;
$bgPrimarily: #1B226A;
$btnPrimarily:#6EE8FD;
$btnSecondarily:#00DAFF;
$cardHover:#4E20A0;

//Media
$extraSmall: 375px;
$small: 576px;
$medium: 768px;
$large: 992px;
$extraLarge: 1200px;